WebFormGTI/Connected Services/UserWCF/UserWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceHost.Classe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceHost.Classe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserWcf">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserWcf" nillable="true" type="tns:UserWcf" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserWcf" nillable="true" type="tns:ArrayOfUserWcf" />
  <xs:complexType name="UserWcf">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascimento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Data_Expedicao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Endereco_Cliente" nillable="true" type="tns:Endereco" />
      <xs:element minOccurs="0" name="Estado_Civil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orgao_Expedicao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserWcf" nillable="true" type="tns:UserWcf" />
  <xs:complexType name="Endereco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Cliente" type="xs:int" />
      <xs:element minOccurs="0" name="Logradouro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Endereco" nillable="true" type="tns:Endereco" />
</xs:schema>